.c-button-container {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--px12);
}

.c-button-group {
  display: flex;
  flex-direction: column;
  gap: var(--px8);
}

@media (max-width: 991px) {
  .c-desktop {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .c-mobile {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .c-phablet-down {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .c-phablet-up {
    display: none !important;
  }
}

.c-visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}