.c-body-bg {
  position: absolute;
  //position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -3;
  display: block;
  width: 100%;
  max-width: 935px;
  max-height: 371px;
  margin: 0 auto;
  aspect-ratio: 935/371;
  background-image: url("/images/body-bg.svg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}


.c-container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}