.c-body-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -3;
  display: block;
  width: 100%;
  max-width: 58.4375em; //935px
  max-height: 23.1875em; //371px
  margin: 0 auto;
  aspect-ratio: 935/371;
  background-image: url("../../public/images/body-bg.svg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.c-main-auth {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100vh;
}

.c-container {
  width: 100%;
  max-width: 72.5em;
  margin: 0 auto;
}