:root {

  //MEASUREMENTS @16px
  --px4: 0.25em;
  --px6: 0.375em;
  --px8: 0.5em;
  --px10: 0.625em;
  --px12: 0.75em;
  --px14: 0.875em;
  --px18: 1.125em;
  --px20: 1.25em;
  --px24: 1.5em;
  --px28: 1.75em;
  --px30: 1.875em;
  --px32: 2em;
  --px36: 2.25em;
  --px40: 2.5em;
  --px44: 2.75em;
  --px48: 3em;
  --px50: 3.125em;
  --px52: 3.25em;
  --px56: 3.5em;
  --px64: 4em;
  --px72: 4.5em;
  --px80: 5em;
  --px106: 6.625em;
  --px120: 7.5em;
  --px150: 9.375em;
  --px200: 12.5em;
}