:root {
  --body-bg-color: var(--neutral-950);
  --body-color: var(--neutral-0);
  --body-font-size: 16px;

  --header-height: var(--px106);

  --font-size-h1: clamp(var(--px36), 72/1440 * 100vw,var(--px72));
  --font-size-h2: clamp(var(--px32), 64/1440 * 100vw, var(--px64));
  --font-size-h3: clamp(var(--px28), 48/1440 * 100vw, var(--px48));
  --font-size-h4: clamp(var(--px24), 40/1440*100vw ,var(--px40));
  --font-size-h5: clamp(var(--px20), 32/1440*100vw, var(--px32));
  --font-size-h6: clamp(var(--px18), 24/1440*100vw, var(--px24));

  --from-120-to-40px: clamp(var(--px40), 120/1440*100vw, 120px);
  --from-80-to-40px: clamp(var(--px40), 80/1440*100vw, var(--px80));
  --from-64-to-40px: clamp(var(--px40), 64/1440*100vw, var(--px64));
  --from-56-to-24px: clamp(var(--px24), 56/1440*100vw, var(--px56));
  --from-56-to-16px: clamp(1em, 56/1440*100vw, var(--px56));
  --from-40-to-24px: clamp(var(--px24), 40/1440*100vw, var(--px40));
  --from-40-to-20px: clamp(var(--px20), 40/1440*100vw, var(--px40));
  --from-32-to-24px: clamp(var(--px24), 32/1440*100vw, var(--px32));
  --from-32-to-16px: clamp(1em, 32/1440*100vw, var(--px32));
  --from-24-to-16px: clamp(1em, 24/1440*100vw, var(--px24));

  --hero-padding-top: clamp(6.625em, 200/1440 * 100vw, 12.5em); //106-200px
  --sidebar-width: 0.448fr;
  --scroll-margin-top: calc(var(--header-height) + 1em);

  @media(max-width: 991px) {
    --header-height: 74px;
  }
}
