:root {
  /* NEUTRALS */
  --neutral-0: #ffffff;
  --neutral-50: #F5F7FA;
  --neutral-100: #F2F5F8;
  --neutral-200: #E1E4EA;
  --neutral-300: #CACFD8;
  --neutral-400: #99A0AE;
  --neutral-500: #717784;
  --neutral-600: #525866;
  --neutral-700: #2B303B;
  --neutral-800: #222530;
  --neutral-900: #181B25;
  --neutral-950: #0E121B;

  /* PRIMARY */
  --primary-50: #f3f2ff;
  --primary-100: #e8e8ff;
  --primary-200: #d4d4ff;
  --primary-300: #b6b1ff;
  --primary-400: #9185ff;
  --primary-500: #6c52ff;
  --primary-600: #5a30f7;
  --primary-700: #4c1ee3;
  --primary-800: #3f18bf;
  --primary-900: #35169c;
  --primary-950: #1e0b6a;

  /* SUCCESS */
  --success-50: #F0FDF5;
  --success-100: #DDFBEA;
  --success-200: #BDF5D6;
  --success-300: #89ECB7;
  --success-400: #4FD98E;
  --success-500: #27C06E;
  --success-600: #1DAF61;
  --success-700: #187D48;
  --success-800: #18633C;
  --success-900: #165133;
  --success-950: #062D1A;

  /* ERROR */
  --error-50: #FEF2F3;
  --error-100: #FDE3E5;
  --error-200: #FDCBCF;
  --error-300: #FAA7AE;
  --error-400: #F5747F;
  --error-500: #E93544;
  --error-600: #D82A38;
  --error-700: #B5202C;
  --error-800: #961E28;
  --error-900: #7D1F27;
  --error-950: #440B10;

  /* WARNING */
  --warning-50: #FCFAEA;
  --warning-100: #FAF3C7;
  --warning-200: #F6E492;
  --warning-300: #F0CE54;
  --warning-400: #EAB625;
  --warning-500: #E6A819;
  --warning-600: #BC7B12;
  --warning-700: #965812;
  --warning-800: #7D4716;
  --warning-900: #6A3A19;
  --warning-950: #3E1E0A;

  /* TEXT SEMANTIC COLORS */
  --text-strong-950: #0E121B;
  --text-strong-800: #222530;
  --text-strong-700: #2B303B;
  --text-soft-500: #717784;
  --text-soft-400: #99A0AE;
  --text-soft-300: #CACFD8;
  --text-white: #FFFFFF;
  --text-primary-500: #6C52FF;
  --text-error-500: #E93544;
  --text-success-500: #27C06E;

  /* STROKE SEMANTIC COLORS */
  --stroke-strong-950: #0E121B;
  --stroke-strong-900: #181B25;
  --stroke-strong-800: #222530;
  --stroke-strong-700: #2B303B;
  --stroke-sub-500: #717784;
  --stroke-sub-300: #CACFD8;
  --stroke-soft-200: #E1E4EA;
  --stroke-white: #FFFFFF;
  --stroke-primary-500: #6C52FF;
  --stroke-error-500: #E93544;

  /* ICON SEMANTIC COLORS */
  --icon-strong-950: #0E121B;
  --icon-strong-700: #2B303B;
  --icon-sub-500: #717784;
  --icon-soft-400: #99A0AE;
  --icon-disabled-300: #CACFD8;
  --icon-white: #FFFFFF;
  --icon-primary-500: #6C52FF;
  --icon-error-500: #E93544;
  --icon-success-500: #27C06E;
}