.cFaqSectionAccordion {
  &:global {
    &.c-faq-section-accordion {
      padding: 1em 1em var(--from-80-to-40px);

      .c-container {
        display: flex;
        flex-direction: column;
        row-gap: var(--from-120-to-40px);
      }
    }
  }

  :global {
    .c-faq-section-accordion {
      &-grid {
        display: grid;
        grid-template-columns: 1fr;

        @media(min-width: 992px) {
          grid-template-columns: 0.4fr 1fr;
          align-items: stretch;
          column-gap: var(--px32);
        }
      }
    }
  }
}
