.cEventBar {
  &:global {
    &.c-event-bar {
      display: inline-flex;
      align-items: center;
      gap: 0 clamp(var(--px8), 16/1440*100vw, 1em);
      height: auto;
      min-height: var(--px44);
      background-color: hsl(from var(--neutral-400) h s l / 10%);
      border-radius: var(--px12);
      padding: var(--px8) var(--px12);
      text-align: left;

      .c-button[data-variant="link"] {
        --btn-font-size: var(--px14);

        font-weight: 500;
        line-height: 1.4em;
      }
    }
  }

  :global {
    .c-event-bar {
      &-users {
        flex: 0 0 auto;
        display: inline-grid;
        grid-auto-columns: 1em;
        grid-auto-flow: column;
        padding-right: 1em;

        .c-avatar {
          border: 1px solid var(--neutral-950);
        }

        &-count {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: var(--px28);
          height: var(--px28);
          background-color: var(--neutral-0);
          border-radius: 50%;
          color: var(--neutral-950);

          >span {
            font-size: var(--px12);
            font-weight: 600;
          }
        }
      }

      &-text {
        display: inline-flex;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 1em;
      }

      &-title {
        display: inline-block;
        margin-bottom: 0;
        color: var(--neutral-400);
        font-size: var(--px14);
        line-height: 1.4em;
      }
    }
  }
}