.cSection {
  &:global {
    &.c-section {
      padding: var(--from-120-to-40px) 1em;

      &:has(.c-section-wrapper) {
        padding: var(--from-64-to-40px) 1em;
      }

      .c-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: clamp(var(--px32), 64/1440*100vw, var(--px64));
        text-align: center;
      }
    }
  }

  :global {
    .c-section {
      &-wrapper {
        width: 100%;
        max-width: 82em; // 1312px
        margin: 0 auto;
        padding: var(--from-80-to-40px) 1em;
        background-color: var(--neutral-900);
        border-radius: var(--px20);

        .c-section-title {
          --lead-bg-color: var(--neutral-800);
        }
      }
    }
  }
}