.cSectionHero {
  &:global {
    &.c-section-hero {
      padding: var(--hero-padding-top) 1em var(--px40); //106-200px

      @media(max-width: 991px) {
        &[data-columns="true"] {
          .c-section-hero-grid {
            &-text {
              align-items: center;
              justify-content: center;
              text-align: center;

              >.c-section-title[data-alignment="left"] {
                align-items: center;
                margin: 0 auto;
                text-align: center;
              }
            }
          }
        }
      }
      @media(min-width: 992px) {
        &[data-columns="true"] {
          .c-section-hero-grid {
            grid-template-columns: 1fr 0.6fr;
          }
        }
      }
    }
  }

  :global {
    .c-section-hero {
      &-grid {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        gap: var(--from-32-to-24px);

        &-text {
          display: flex;
          flex-direction: column;

          .c-section-title-paragraph {
            max-width: 30.0625em; //481px
          }
        }

        &-image {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}